@model HotelManagement.Models.Checkin
           @using HotelManagement.Models
{
@{
    ViewBag.Title = "checkout";
}

<h2>checkout</h2>
<h4>
    Yourbill Amount : @Html.DisplayForModel(Model.bill) 
</h4>
}